<h1 style="font-family: Brush Script MT;font-size:45px; color: purple;">About Us</h1>


<p>  
<img src="http://localhost:3000/assets/goalist.png" />
<h3 align="justify">is a real-time information network that connects you to the latest stories, ideas, opinions and

news about what you find interesting. With the help of Goalist, we made it easy for people to feel

comfortable sharing things about their real lives. We added some of the features such as uploading
photos, sharing views and commenting on people’s post and also providing to like people’s post by
using ‘Cheers’. We assume Milestones to be one-liner just like a Headline and the story, i.e., Goals
about the Milestone would be about 250-300 words.

Every day, we are inspired by stories of people using Goalist to help make the world a better place in
unexpected ways. And with just a Goal post, many people learn about or show their support for positive
initiatives that might have otherwise gone unnoticed.

</h3>
</p>