<h1 style="font-family: Brush Script MT;font-size:45px; color: purple;">Privacy</h1>
</br>
<h3 align="justify">
Goalist instantly connects people everywhere to what’s most meaningful to them. Any registered user can post a
Goal, which is a message of 250-300 characters or less that is public by default and can include other content like
photos and links to other websites. Our Services are primarily designed to help you share information with the
world. Most of the information you provide us is information you are asking us to make public. When you share
information or content like photos, videos, and links via the Services, you should think carefully about what you
are making public.
</br>
Information Collected Upon Registration: When you create or reconfigure a Goalist account, you provide some
personal information, such as your name, username, password, and email address. Some of this information, for
example, your name and username, is listed publicly on our Services, including on your profile page and in search
results. Some Services, such as search, public user profiles and viewing lists, do not require registration.
</br>
Modifying Your Personal Information: If you are a registered user of our Services, we provide you with tools
and account settings to access or modify the personal information you provided to us and associated with your
account.
</br>
Additional Information: You may provide us with profile information to make public, such as a short biography,
your location, your website, or a picture.
</br>
Control Privacy When You Post: You can manage the privacy of your status updates, photos and information using
the inline audience selector — when you share or afterwards. Remember: the people you share with can always
share your information with others
</h3>