<h1 style="font-family: Brush Script MT;font-size:45px; color: purple;">Terms</h1>
</br>

<h2 style="font-family: Pussycat, Algerian, Broadway, fantasy; color: #0bb0ff;"><u>Basic Terms</u></h2>

<h3><i>
These Terms of Service ("Terms") govern your access to and use of the services, including our website and
any information, text, graphics, photos or other materials uploaded, downloaded or appearing on the Services
(collectively referred to as "Content"). Your access to and use of the Services are conditioned on your
acceptance of and compliance with these Terms. By accessing or using the Services you agree to be bound by these
Terms.

You are responsible for your use of the Services, for any Content you post to the Services, and for any
consequences thereof. The Content you submit, post, or display will be able to be viewed by other users of the
Services and through third party services and websites. You should only provide Content that you are comfortable
sharing with others under these Terms.
</i></h3>
</br>
<h2 style="font-family: Pussycat, Algerian, Broadway, fantasy; color: #0bb0ff;"><u>Content on the Services</u></h2>
<h3><i>
All Content, whether publicly posted or privately transmitted, is the sole responsibility of the person who
originated such Content. We may not monitor or control the Content posted via the Services and, we cannot take
responsibility for such Content. Any use or reliance on any Content or materials posted via the Services or obtained
by you through the Services is at your own risk.

We do not endorse, support, represent or guarantee the completeness, truthfulness, accuracy, or reliability of
any Content or communications posted via the Services or endorse any opinions expressed via the Services. You
understand that by using the Services, you may be exposed to Content that might be offensive, harmful, inaccurate
or otherwise inappropriate, or in some cases, postings that have been mislabeled or are otherwise deceptive.
Under no circumstances will Goalist be liable in any way for any Content, including, but not limited to, any errors
or omissions in any Content, or any loss or damage of any kind incurred as a result of the use of any Content
posted, emailed, transmitted or otherwise made available via the Services or broadcast elsewhere.
</i></h3>
</br>
<h2 style="font-family: Pussycat, Algerian, Broadway, fantasy; color: #0bb0ff;"><u>Passwords</u></h2>
<h3><i>
You are responsible for safeguarding the password that you use to access the Services and for any activities or
actions under your password. We encourage you to use "strong" passwords (passwords that use a combination of
upper and lower case letters, numbers and symbols) with your account. Goalist cannot and will not be liable for
any loss or damage arising from your failure to comply with the above.
</i></h3>